@font-face
{
font-family: lato;
    src: url('../fonts/latoregular.ttf');
}

* {-webkit-tap-highlight-color: rgba(0,0,0,0); font-family: lato; font-size: 2em;}

body {-webkit-touch-callout: none; -webkit-user-select: none; height:100%; margin:0px; padding:0px; width:100%; }
#contenedorApp {position:absolute; }
.ui-loader{display:none !important;}
.ui-btn-inner{display:none !important;}

/* Landscape */
@media screen and (orientation:landscape) {
    #pageLogin .header .titulo {
        margin-top:2% !important;
    }
    #pageLogin form {
        margin-top:9% !important;
    }
    #pageLogin .footer{
        bottom:4% !important;
    }
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    #contenedorApp {
        background-position:left center;
        padding:75px 0px 75px 170px;  
        margin:-90px 0px 0px -198px;                                      
    }
}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 810px) {

}
@media screen and (max-width: 320px) {

}