/**
 *@author: Leandro Salar
 *@empresa: Reiatsu.com.ar
 *@web: reiatsu.com.ar
 *@data: Framework .3
 *
/* Datos Generales inicio del doc.*/
body												{background-color:#93541d;}
.medidasPaginas 									{width: 90%;height: 100%; float:left;}
#deviceready,#cuerpoDeApps							{width:90%;height: 100%;float:left;}
.footer												{position:fixed; left:0px; bottom:0px; height:30px; width:90%;}
/*pagelogin*/
#pageLogin 											{background-color:#93541d;}
#pageLogin .header .titulo							{font-size:2.5em; text-align: center; color:#ffffff; margin-top:10%;}
#pageLogin .header .subtitulo						{font-size:1.6em; color:#c77e3e; text-align: center;}
#pageLogin form										{margin-top:7%; width:100%;text-align: center;}
#pageLogin form .conteInputs						{width:100%; margin:0 auto;}
#pageLogin form .conteInputs input[type=text]		{border:none;border-radius: 6px; width:90%;height:50px; font-size:17px;padding-left:3px; background: url("../template/sprite.png") no-repeat scroll 150% 11px #ffffff;}
#pageLogin form .conteInputs input[type=password]	{border:none;border-radius: 6px; width:90%;height:50px; font-size:17px;padding-left:3px;margin:4% 0 4% 0;  background: url("../template/sprite.png") no-repeat scroll 150% -33px #ffffff;}
#pageLogin form input[type=submit]					{border:none;border-radius: 6px; width:90%;height:50px;background-color:#14b9d6; color:#ffffff;font-size: 16px;}
#pageLogin .footer .menuContenedor					{width:600px;}
#pageLogin .footer .menuContenedor div				{color:#ffc200;}
#pageLogin .footer .menuContenedor .Na				{margin-left:5%;}
#pageLogin .footer .menuContenedor .divi			{margin-left:28%;}
#pageLogin .footer .menuContenedor .Lp				{margin-left:29%;}
#pageLogin .footer									{position:fixed; left:0px; bottom:12%; height:30px; width:90%;}
/*iconos sprite*/
	/*.iconoLogUser										{background: url("../template/sprite.png") no-repeat scroll 0 0 transparent; width:36px;height: 36px; margin: 15px 680px;}
	.iconoLogPass										{background: url("../template/sprite.png") no-repeat scroll 0 -42px transparent; width:36px;height: 36px; margin: 46px 680px;}
	*/
/*Animaciones y transiciones*/
/*Fade de centrado */
@-webkit-keyframes animacionFadeCenterScale {
	0% { opacity: 0; -webkit-transform: scale(.1);}
	85% {opacity: 1; -webkit-transform: scale(1.05);}
	100% {-webkit-transform: scale(1); opacity: 1;}
}

.animacionFadeCenterScale {
    -webkit-animation: animacionFadeCenterScale .5s ease-in;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    background-color: #000;
    width: 100px;
    height: 100px;
    opacity: 0;
}

.animacionFadeCenterScale.one {-webkit-animation-delay: .5s;}
.animacionFadeCenterScale.two {-webkit-animation-delay: 1.5s;}
.animacionFadeCenterScale.three {-webkit-animation-delay: 2.5s;}