/**
 *@author: Leandro Salar
 *@empresa: Reiatsu.com.ar
 *@web: reiatsu.com.ar
 *@data: Framework .3
 *
/* Datos Generales inicio del doc.*/
body												{background-color:#93541d;}
.medidasPaginas 									{width: 100%;height: 100%;text-align: center;position:absolute;}
#deviceready,#cuerpoDeApps							{width:100%;height: 100%;float:left;}
.footer												{position:fixed; left:0px; bottom:0px; height:30px; width:100%;}
.textAlignLeft                                      {text-align: left !important;}
/*pagelogin*/
#pageLogin 											{background-color:#93541d;}
#pageLogin .header .titulo							{font-size:3.0em; text-align: center; color:#ffffff; margin-top:10%;}
#pageLogin .header .subtitulo						{font-size:2.2em; color:#c77e3e; text-align: center;}
#pageLogin form										{margin-top:17%; width:100%;text-align: center;}
#pageLogin form .conteInputs						{width:100%; margin:0 auto;}
#pageLogin form .conteInputs input[type=text]		{border:none;border-radius: 6px; width:90%;min-height:90px; max-height: 80px; font-size:17px;padding-left:3px; background: url("../template/usuario.png") no-repeat scroll 96% 30px #ffffff;}
#pageLogin form .conteInputs input[type=password]	{border:none;border-radius: 6px; width:90%;min-height:90px; max-height: 80px; font-size:17px;padding-left:3px;margin:4% 0 4% 0;  background: url("../template/password.png") no-repeat scroll 96% 30px  #ffffff;}
#pageLogin form input[type=submit]					{border:none;border-radius: 6px; width:90%;min-height:90px; max-height: 80px; background-color:#14b9d6; color:#ffffff;font-size: 2em;}
#pageLogin .footer .menuContenedor					{width:600px;}
#pageLogin .footer .menuContenedor div				{color:#ffc200;}
#pageLogin .footer .menuContenedor .Na				{margin-left:5%;color:#ffc200;}
#pageLogin .footer .menuContenedor .divi			{margin-left:20%;}
#pageLogin .footer .menuContenedor .Lp				{margin-left:17%;color:#ffc200;}
#pageLogin .footer .menuContenedor div a 			{color:#ffc200; font-size: 1.7em;}
#pageLogin .footer									{position:fixed; left:0px; bottom:12%; height:30px; width:100%;}

/*colores*/
.rojo                                               {color:#c0392b;}
.naranja                                            {color:#f7ae22;}
.verde                                              {color:#1fbba6;}
.celeste                                            {color:#14b9d6;}
.azul                                               {color:#2e92d4;}
.gris                                               {color:#959595;}
.blanco                                             {color:#ffffff;}
.negro                                              {color:#000000;}

/*pagemenu*/
#pageMenu{background-color:#ffffff;}
#pageMenu .header                                   {width:100%; height:90px; background-color:#93541d;}
#pageMenu .header .headerTitulo                     {font-size:2em; width:100%;padding-top: 12px;padding-top:25px;}
#pageMenu .header .headerTitulo .imagen             {margin:0 30px 0 -30px;}
#pageMenu .bordeDerAba                              {border-right: 1px solid #999999;border-bottom:1px solid #999999;}
#pageMenu .bordeDer                                 {border-right: 1px solid #999999;}
#pageMenu .bordeAba                                 {border-bottom:1px solid #999999;}
#pageMenu .dashboardCubos                           {background-color:#f9f6e7;}
#pageMenu .dashboardCubos .titulo                   {margin-left:3%;font-size: 4em; width:80%; height: 60%; float:left;}
#pageMenu .dashboardCubos .footerInterno            {width:100%;float:left;}
#pageMenu .dashboardCubos .footerInterno .icono     {float:left;margin-left:4%;}
#pageMenu .dashboardCubos .footerInterno .numero    {float:right; margin-right: 5%;font-size: 4em;}


/*Animaciones y transiciones*/
/*Fade de centrado */
@-webkit-keyframes animacionFadeCenterScale {
	0% { opacity: 0; -webkit-transform: scale(.1);display:none;}
	85% {opacity: 1; -webkit-transform: scale(1.05); display:block;}
	100% {-webkit-transform: scale(1); opacity: 1;}
}

.animacionFadeCenterScale {
    -webkit-animation: animacionFadeCenterScale .5s ease-in;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    opacity: 0;
}

.animacionFadeCenterScale.one {-webkit-animation-delay: .5s;}
.animacionFadeCenterScale.two {-webkit-animation-delay: 1.5s;}
.animacionFadeCenterScale.three {-webkit-animation-delay: 2.5s;}

/*Fade de centrado */
@-webkit-keyframes animacionFadeCenterScaleOut {
    0% {-webkit-transform: scale(1); opacity: 1;}
    85% {opacity: 1; -webkit-transform: scale(.5); display:block;}
    100% { opacity: 0; -webkit-transform: scale(.1);display:none;}
}

.animacionFadeCenterScaleOut {
    -webkit-animation: animacionFadeCenterScaleOut .5s ease-in;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    opacity: 1;
}
.animacionFadeCenterScaleOut.one {-webkit-animation-delay: .5s;}